<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Умное поле - Датчик и табло</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div id="monitoring_data">
        <h2>Умное игровое поле - Датчик попаданий и табло счёта</h2>
        <input type="text" id="value" placeholder="Введите очки (1, 2 или 3)">
        <button onclick="send_data()">Отправить</button>
        <br>
        <label>Состояние датчика:</label>
        <input type="text" id="command" disabled="disabled" placeholder="On/Off">
        <br>
        <label>Табло (подсветка при >= 25 очков):</label>
        <input type="text" id="scoreboard" disabled="disabled" placeholder="Off">
    </div>
</body>
</html>
